@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
}


body {
  min-height: 100vh;
  padding: 3rem 0rem;
  background-color: blanchedalmond;
  font-family: "Roboto" , sans-serif;
}

.border-r {
  border-radius: 5px;
}
.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.space-main {
  display: flex;
  justify-content: space-between;
}


.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  background-color: white;
  padding: 1rem;
  border-radius: 5px;
  flex: 5;
  box-shadow: 5px 5px #ccc;
  margin-right: 1rem;
}

aside {
  flex:  2;
}


/* logo - invoice number */
.logo button {
  height: 150px;
  width: 200px;
  border: 0;
}
.invoice-no {
  width: 250px;
}

.invoice-no input:first-child{
  width: 100%;
  text-align:aside;
  font-size: 2rem !important;
  background-color: transparent;
}

.border-none {
  border: 0px ;
}

.input-group input {
  text-align: right;
  height: 40px;
}

/* end logo invoice number */


/* info and date */
.info textarea:first-child {
  min-width: 300px;
  border: 1px solid #ccc;
  height: 60px;
  resize: none;
} 

.bill-ship input {
  background-color: transparent;
  padding: 0.5rem;
}

.bill-ship textarea {
  min-height: 60px;
  width: 100%;
  resize: none;
} 

.date input{  
  text-align: right;
  height: 40px;
}

.box input:first-child {
  width: 100%;
}

.box input:nth-child(2){
  position: relative;
  top: 4px;
  height: 42px;

}
.box input {
  width: 100%;
}
/* end info and date */


/* start of content */
.flex {
  display:  flex;
  justify-content:  center;
}

.flex-no-align {
  display:  flex;
  justify-content:  center;
}

input , textarea{
  border: 1px solid #ccc ;
  border-radius: 5px;
  font-size: 0.9rem !important;
}

input:focus , textarea:focus {
  box-shadow: none !important;
  border: 1px solid #aaa;
}

textarea {
  resize: none;
}

/* desc amt qty  */
.content input {
  background-color: #222;
  border-radius: 0;
  border: none;
  color: white;
}

.content input:focus {
  background-color: #333;
  border-radius: 0;
  border: none;
  color: white;
}

.content .desc { 
  flex: 4;
}

.content .qty { 
  flex: 3;
}

.content .rte { 
  flex: 2;
}

.content .amt { 
  flex: 2;
}

.content i { 
  flex: 1;
  background-color: white;
}

/* desc amt qty  */


.items textarea { 
  flex: 4;
  margin-top: 0.2rem ;
  margin-right: 0.2rem ;

}

.items input { 
  flex: 1;
  margin-top: 0.2rem ;
  margin-right: 0.2rem ;  
}

.items .rate-currency { 
  flex: 3;
}

.items .amount { 
  flex: 2;
}

.items .trash { 
  flex: 1;
}

.items input , .items textarea{
  height:   40px;
}

.rate-currency {
  position: relative;
}

.rate-currency p {
  position: absolute;
  top: 5px;
  left: 5px;
}

.rate-currency input {
  text-align: center;
}

.amount {
  text-align: left;
  height: 39px;
}

.amount h6 {
  position:   relative;
  top:  13px;
  left: 0;
  display: block;
  text-align: right !important;
  margin-right: 0rem;
  color: gray;
  font-size: 1.1rem;
}

.trash i {
  padding: 0.5rem;
  color:  white;
  font-size: 1rem;
  margin-top: 0.3rem;
  transition: 0.5s;
}

.trash i:hover {
  color: #dc3545 !important;
  cursor: pointer;
}
.trash {
  color: green;
  height: 39px;
}

.totalsum {
  margin-top: 2rem;
  float: right;
  margin-right: 3.8rem;
}

.notes {
  position: relative;
  left: -15px;
}

#add-item {
  box-shadow: none !important;

}
/* aside stuff */
aside button {
  width: 100%;
  padding: 5%;
  border: 0;
  color: white;
}

aside p {
  margin-top: 50px;
}

#currency_name {
  font-weight: 500;
  color: #dc3545;
}

aside select:focus {
  box-shadow: none !important;
}

textarea[autoresize] {
  display: block;
  height: 40px;
  overflow: hidden;
  resize: none;
}


/* upload logo */
#files {
  display: none;
}

input[type="file"] {
  display: block;
}

#imageThumb {
  height: 150px;
  width: 200px;
  border: 2px ;
  border-radius: 5px;
  padding: 1px;
  cursor: pointer;
}


#remove {
  position: relative;
  top: -20px;
  display: 'block';
  background: #444;
  color: white;
  text-align: center;
  cursor: pointer;
}

#remove:hover {
  color: white;
}


@media only screen and (max-width: 991px){
.space-main {
  display: flex;
  flex-direction: column;
  }
}


@media only screen and (max-width: 600px){ 
  .flex {
    flex-direction: column;
  }

  .content input {
    text-align:  center !important; 
  }

  .space-between {
    display:  block;
    flex-direction :  column;
    justify-content: flex-start;
    align-items: flex-start;    
  }

 
  .main {
    margin-right:  0;
  }

  #aside {
    margin-top: 2rem;
  }

  input , textarea {
    width: 100% !important;
  }

  .display-5 {
    text-align: left !important;
  }

  .input-group {
    flex-wrap: nowrap;
    margin-bottom: 1rem;
  }
}
